body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-image: linear-gradient(
      45deg,
      rgb(241, 121, 22) 0%,
      rgb(241, 121, 22) 12%,
      rgb(219, 114, 22) 12%,
      rgb(219, 114, 22) 29%,
      rgb(197, 107, 23) 29%,
      rgb(197, 107, 23) 30%,
      rgb(175, 100, 23) 30%,
      rgb(175, 100, 23) 33%,
      rgb(152, 94, 24) 33%,
      rgb(152, 94, 24) 51%,
      rgb(130, 87, 24) 51%,
      rgb(130, 87, 24) 77%,
      rgb(108, 80, 25) 77%,
      rgb(108, 80, 25) 95%,
      rgb(86, 73, 25) 95%,
      rgb(86, 73, 25) 100%
    ),
    linear-gradient(
      135deg,
      rgb(241, 121, 22) 0%,
      rgb(241, 121, 22) 12%,
      rgb(219, 114, 22) 12%,
      rgb(219, 114, 22) 29%,
      rgb(197, 107, 23) 29%,
      rgb(197, 107, 23) 30%,
      rgb(175, 100, 23) 30%,
      rgb(175, 100, 23) 33%,
      rgb(152, 94, 24) 33%,
      rgb(152, 94, 24) 51%,
      rgb(130, 87, 24) 51%,
      rgb(130, 87, 24) 77%,
      rgb(108, 80, 25) 77%,
      rgb(108, 80, 25) 95%,
      rgb(86, 73, 25) 95%,
      rgb(86, 73, 25) 100%
    ),
    linear-gradient(
      135deg,
      rgb(241, 121, 22) 0%,
      rgb(241, 121, 22) 12%,
      rgb(219, 114, 22) 12%,
      rgb(219, 114, 22) 29%,
      rgb(197, 107, 23) 29%,
      rgb(197, 107, 23) 30%,
      rgb(175, 100, 23) 30%,
      rgb(175, 100, 23) 33%,
      rgb(152, 94, 24) 33%,
      rgb(152, 94, 24) 51%,
      rgb(130, 87, 24) 51%,
      rgb(130, 87, 24) 77%,
      rgb(108, 80, 25) 77%,
      rgb(108, 80, 25) 95%,
      rgb(86, 73, 25) 95%,
      rgb(86, 73, 25) 100%
    ),
    linear-gradient(90deg, rgb(199, 181, 128), rgb(162, 8, 93));
  background-blend-mode: overlay, overlay, overlay, normal;
}

h2 {
  color: #333;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

small {
  color: #888;
}
